@font-face {
    font-family: Main-Menu; 
    src: url('files/fonts/AscenderUni.ttf');
}

@font-face {
    font-family: LCD-Solid; 
    src: url('files/fonts/LCDSolid.ttf');
}

body{
    /* background-image: url(files/images/background.png); */
    background: black;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow: hidden;
    user-select: none;
    color: white;
    font-family: arial;
    font-size: 1.5vmax;
    margin: 0;
    padding: 0;
}

.title{
    margin: 5%;
    font-family: Main-Menu;
    width: 20%;
}

a{
    display: contents;
}

p{
    margin: 0;
    padding: 0;
}

.MMenu{
    color: white;
    width: 50%;
}

.newspaper{
    background-image: url(files/images/menu/newspaper.png);
    background-size: 100% 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 0%;
    width: 100vw;
    height: 100vh;
    transition: opacity 2.5s;
}

.visible{
    opacity: 100%;
}

.MMSelector{
    margin: 10%;
    display: flex;
    flex-direction: column;
    display: inline-block;
}

.text{
    transition: transform 0.125s, text-shadow 0.125s, font-weight 0.125s;
}

.text:hover{
    cursor: pointer;
    transform: scale(1.25);
    text-shadow: 0 0 1vmax white;
    font-weight: 1000;
}

.nightShow{
    font-size: 3vmax;
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-content: center;
}

.nightShow h1{
    margin: 0;
    padding: 0;
}

.office-back{
    z-index: 0;
    position: absolute;
    background-image: url(files/images/office/office_back.png);
    background-size: 200% 100%;
    width: 100vw;
    height: 100vh;
}

.office-front{
    z-index: 5;
    position: absolute;
    background-image: url(files/images/office/office_front.png);
    background-size: 200% 100%;
    width: 100vw;
    height: 100vh;
}

.move-divs{
    z-index: 6;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left, .right{
    display: flex;
    width: 20vw;
    height: 100vh;
}

.timeText{
    font-family: Main-Menu;
    transition: transform 0.125s;
}

.timer{
    font-family: LCD-Solid;
    text-align: right;
    position: fixed;
    z-index: 16;
    width: 10vmax;
    top: 2.5%;
    right: 2.5%;
}

.character{
    position: absolute;
    z-index: 2;
    background: url(files/images/characters/justas.png);
    background-size: 100% 100%;
    width: 25%;
    height: 50%;
}

.character-office{
    position: absolute;
    z-index: 2;
    background: url(files/images/characters/justas.png);
    background-size: 100% 100%;
    width: 25%;
    height: 50%;
    top: 35%;
    left: 35%;
}

.camera{
    position: absolute;
    transition: 0.25s top, 0.25s transform;
    top: 100%;
    transform: scale(0.9);
    z-index: 13;
    background: url(files/images/office/camera.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

.cam-screen{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 14;
    position: absolute;
    top: 0;
}

.screen{
    background: url(files/images/camera/b1.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.screen-border{
    position: absolute;
    top: 0%;
    box-sizing: border-box;
    border: 0.25vmax solid white;
    width: 100%;
    height: 100%;
    transform: scale(0.97)
}

.static{
    background: url(files/images/camera/static.gif);
    background-size: 100% 100%;
    opacity: 25%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 15;
}

.map{
    background: url(files/images/camera/radar.png);
    background-size: 100% 100%;
    width: 30%;
    height: 40%;
    position: absolute;
    right: 2%;
    bottom: 3%;
    z-index: 16;
}

.button{
    font-family: LCD-Solid;
    font-size: 1vmax;
    position: absolute;
    background: gray;
    text-align: left;
    align-content: center;
    width: 3vmax;
    height: 2vmax;
    border: 0.2vmax solid white;
}

.button-clicked{
    background: rgb(150 168 8);
}

.button:hover{
    cursor: pointer;
}

.b1{
    left: 28%;
    top: 13%;
}

.b2{
    left: 15%;
    top: 13%;
}

.b3{
    left: 38%;
    top: 4%;
}

.c1{
    left: 30%;
    top: 35%;
}

.c2{
    left: 35%;
    top: 45%;
}

.cam-hover{
    position: absolute;
    left: 32%;
    bottom: 2.5%;
    z-index: 15;
    background: url(files/images/office/arrow.png);
    background-size: 100% 100%;
    width: 35%;
    height: 5%;
    filter: opacity(0.75)
}

.pause{
    align-items: center;
    text-align: center;
    z-index: 16;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

.pause h1{
    font-family: Main-Menu;
    margin-top: 15%;
    font-size: 5vmax;
}

.pause p{
    display: contents;
    font-size: 2vmax;
    margin: 1%;
}

.pause p:hover{
    cursor: pointer;
}

.timer h3{
    padding: 0;
    margin: 0;
}

.power{
    position: absolute;
    z-index: 20;
    padding: 2%;
    bottom: 0;
}

.power p{
    display: contents;
}

.power-usage{
    display: flex;
    gap: 5%;
}

.usage{
    display: flex;
    gap: 0.1vmax;
}

.usage div{
    width: 1.25vmax;
    height: 2vmax;
}

.usage div:nth-child(1){
    background: rgb(0, 255, 0);
}

.usage div:nth-child(2){
    background: rgb(105, 255, 0);
}

.usage div:nth-child(3){
    background: rgb(255, 255, 0);
}

.usage div:nth-child(4){
    background: rgb(255, 0, 0);
}

footer{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
}

footer p{
    margin: 1%;
    padding: 0;
}